.about-section {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  font-family: "Noto Sans JP";
  z-index: 1;
  position: relative;
}

.about-desc {
  font-size: 36px;
  color: aliceblue;
}

.about-links {
  justify-content: center;
  text-decoration: underline;
  text-decoration-style: dotted;
  gap: 2rem;
}

.about-links a {
  font-weight: 500;
  transition: opacity 0.2s ease;
}

.about-links a:hover {
  color: #facc15;
}
